.admin-page {
    &__section {
        position: relative;
        background: #f2f6f7;
        border-radius: 5px;
        height: 80px;
        width: calc(20% - 13px);
        margin: 13px 13px 0 0;
        transition: 0.2ms;
        float: left;

        &:hover {
            transform: scale(1.02);
            background: #d3d6d6;
        }

        @media(max-width: 1600px) {
            width: calc(25% - 13px);
        }

        @media(max-width: 1280px) {
            width: calc(33% - 13px);
        }
    }

    &__section-link {
        padding: 9px 11px;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__section-title {
        overflow: hidden;
        display: block;
        font: var(--ui-font-weight-bold) 14px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        color: #000;

        span {
            max-height: 36px;
            overflow: hidden;
            position: relative;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__section-icon {
        max-width: 55px;
        min-width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #fff;
        display: block;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }

    &__section-title-wrapper {
        flex: 1;
        padding-left: 10px;
        box-sizing: border-box;
        max-width: calc(100% - 55px);
    }

    &__section-check {
        vertical-align: middle;

        label {
            vertical-align: middle;
            font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
            color: #000;

            &:hover {
                color: #000;
            }
        }

        input {
            vertical-align: middle;
            margin: 0;

            &:checked+label {
                color: #000;
            }
        }
    }
}