.ql-snow .ql-tooltip[data-mode='link']::before {
    content: 'url:' !important;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    content: 'Далее' !important;
}

:deep(.p-editor-toolbar) {
    display: none;
}

:deep(.ql-formats button) {
    margin-right: 5px;
}