@use '/src/assets/styles/mixins' as *;

.birthday {
    &__page-content {
        display: flex;
        flex-direction: row;
        gap: 12px;

        @include lg {
            flex-direction: column;
        }
    }

    &__date-input-wrapper {
        position: relative;
        width: 200px;
    }

    &__chain-nav {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        box-shadow: inset 0px -1px 0px #dbdbdb;
        flex-wrap: wrap;
        gap: 6px;
        background: none !important;

        &__item {
            border-bottom: 1px solid #c4c4c400;

            &--active {
                color: var(--emk-brand-color) !important;
                border-bottom: 1px solid var(--emk-brand-color);

                &::before {
                    background: var(--emk-brand-color) !important;
                }
            }
        }

        li {
            color: #666666;
            position: relative;
            padding-bottom: 1px;
            padding-right: 8px;
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            text-decoration: none;
            cursor: pointer;
            margin-top: 5px;

            &:not(:first-child) {
                margin-left: 12px;
            }

            &:hover {
                color: var(--emk-brand-color);
                border-bottom: 1px solid var(--emk-brand-color);

                &::before {
                    background: var(--emk-brand-color);
                }
            }

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 4px;
                display: flex;
                background: #c4c4c4;
                margin: 0 8px;
            }
        }
    }

    &__workers-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include sm {
            grid-template-columns: 1fr;
        }
    }


    &__page {
        &__swiper {
            width: 100%;
            margin: 0;
            height: 100% !important;

            @include sm {
                aspect-ratio: 4/5 !important;
            }

            &__wrapper {
                flex: 1;
                max-width: calc(100% - 341px);
                min-height: 100%;
                position: relative;

                @include lg {
                    max-width: 100% !important;
                }
            }

            &__slide {
                height: 100%;
                object-fit: contain;
                background-size: cover;
                background-position-x: center;
                display: flex;

                @include sm {
                    min-height: 600px !important;
                }

                &__title {
                    font-weight: bold;
                }

                &__subtitle {
                    margin-top: 2px;
                    color: #666;
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    font-size: 12px;
                    padding: 6px;
                    background: white;
                    margin-top: auto;
                    width: 100%;
                }
            }
        }
    }

    &__slide {
        &__grid {
            display: grid;
            grid-template-rows: 1fr auto;
            height: 100%;
            min-height: max-content;
            overflow: hidden;
            transition: 0.2s all;
            width: 100%;

            &--birthday {
                height: 500px;
            }

            &:hover {
                .birthday__slide__image {
                    transform: scale(1.02);
                }
            }
        }

        &__image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 300px;
            transition: 0.2s all;
            position: relative;

            @include sm {
                min-height: auto;
            }

            &__icon {
                position: absolute;
                bottom: 15px;
                right: 15px;

                &>svg {
                    width: 40px;
                }
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 12px;
            padding: 12px;
            background: white;
            min-height: 120px;
            border: 1px solid #e0e0e0;
            border-top: none;
        }
    }

    &-icon {
        position: absolute;
        width: 61px;
        height: 61px;
        background: url(https://portal.emk.ru/local/templates/intranet/img/birthday__item__icon.svg) 50% no-repeat;
        background-size: cover;
        cursor: pointer;
        bottom: 80px;
        right: 0;

        @include sm {
            right: 46px;
        }
    }
}

.swiper-navigation__buttons-group--birthday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    margin: auto;
    padding: 0 10px;

    @include sm {
        display: flex !important;
    }
}