.blogs {
    &__avatar-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 60px;
        row-gap: 15px;
        justify-items: start;
        align-items: center;

        &:first-child {
            padding-bottom: 50px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        text-decoration: none;

        &-contact {
            color: blue;
            text-decoration: underline;
            transition: 0.1s;

            &:hover {
                color: var(--emk-brand-color);
            }
        }

        &:hover {
            .blogs__item__img {
                border-color: var(--emk-brand-color);
                transform: scale(1.03);
            }

            .blogs__item-title {
                color: var(--emk-brand-color);
            }
        }

        &__img {
            display: block;
            width: 180px;
            height: 180px;
            margin: 0 auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid #9b9b9b;
            transition: all 0.3s ease;
            cursor: pointer;

            &-wrapper {
                min-width: 180px;
                min-height: 180px;
            }
        }

        &-text {
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;
            align-items: center;
        }

        &-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 135%;
            margin: 0;
            padding: 0;

            &--small {
                font-size: 16px;
            }

            &>P {
                margin: 0;
                padding: 0;
            }

            &>a {
                color: rgba(0, 0, 0, 0.87);
                position: relative;
                z-index: 5;
                margin-top: 10px;
                text-decoration: none;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        &-description {
            width: 100%;
        }
    }
}