@use '/src/assets/styles/mixins' as *;

.blog {
    &__articles-wrapper {
        @include sm {
            flex-direction: column;
        }
    }

    &__article__content {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__avatar__wrapper {
        @include sm {
            width: 100%;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__short__desc {
        margin-top: 20px;
    }

    &-date {
        padding-right: 5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &-list {
        &__item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .blog-date {
                color: #5c6470;
                font-size: 0.85rem;
            }

            &:empty {
                display: none;
            }

            &-title {
                font-size: 1.2rem;
                font-weight: bold;
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    color: var(--emk-brand-color);
                }
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 35px;

                @include sm {
                    margin-top: 20px;
                }
            }
        }
    }

    &__sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__button {
            align-self: flex-end;
            justify-self: flex-end;

            &__wrapper {
                margin-top: 10px;
            }
        }

        &__loader {
            width: 64px;
            height: 64px;
            margin: auto;
        }

        &__wrapper {
            max-height: 750px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__user {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            & img {
                width: 40px;
                height: 40px;
                border-radius: 40px
            }
        }
    }

    &__loader {
        width: 64px;
        height: 64px;
        margin: auto;
    }


}