@use '/src/assets/styles/mixins' as *;

.book {
    &-pages {
        background: rgba(127, 127, 127, 0.082);
        backdrop-filter: blur(10px);
        box-shadow: rgb(0 0 0 / 27%) 0px 0px 5px;
        border-radius: 10px;
        padding-top: 20px;

        @include sm {
            width: 100%;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            height: 100%;
            padding-bottom: 15px;

            @include sm {
                flex-direction: column !important;
            }
        }

        &_rolled {
            width: fit-content !important;

            &>.sidebar>.level-1 {
                display: none;
            }

            @include sm {
                width: 100% !important;
            }
        }
    }

    &-content {
        padding-left: 2%;
        flex-grow: 1 !important;
        margin-top: 20px;

        &__inner {
            min-height: 100vh;
        }

        &>p {
            text-indent: 25px;
            text-align: justify;
        }

        &>h5 {
            padding-top: 2%;
            font-weight: bold;
        }

        &__navDiv {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            padding-bottom: 15px;

            &__arrowForward {
                margin-left: auto;
            }

            &__arrowBackward {
                margin-right: auto;
            }

            &__arrowBackward,
            &__arrowForward {
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
                transition: 0.4s;
                font-size: 14px;
                color: #303030;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                padding: 0 25px;
                border: 1px solid #ef7f1b;
                border-radius: 20px;
                text-decoration: none;

                &:hover {
                    background-color: #ef7f1b;
                    color: #ffffff;
                }
            }
        }

        &__img-place {
            display: block;
            margin-left: 5%;
            max-width: fit-content;
            height: fit-content;
            overflow: hidden;
            padding-bottom: 5px;

            &>img {
                max-width: 100%;
            }

            &>p>img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                border: 1px solid black;
            }
        }
    }

    &-nav {
        &__wrapper {
            padding-bottom: 5px;
            transition: 0.1s;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
        }

        &__sidebar {
            position: sticky;
            top: 97px;
            z-index: 0;

            &__burger {
                margin-bottom: 0;

                &__switch-icon {
                    cursor: pointer;
                    transition: 0.1s;

                    >svg {
                        margin-left: -2px;

                        &:hover {
                            color: var(--emk-brand-color);
                        }
                    }
                }
            }
        }

        &__li {
            user-select: none;

            &>a {
                text-decoration: none;
                display: inline-block;
                width: 100%;

                &:hover {
                    color: var(--emk-brand-color);
                }
            }

            &>span>svg {
                width: 17px;
            }

            &--active {
                border-right: 2px solid var(--emk-brand-color) !important;
            }

            &:hover {
                color: var(--emk-brand-color);
            }
        }


        &__level-1 {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin: 10px 0 0;
            list-style: none;
            cursor: pointer;
            gap: 10px;
        }

        &__level-2 {
            z-index: 30;
            min-width: 10rem;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: .25rem;
            cursor: pointer;
            max-height: 1000px;
            opacity: 1;
            transform: translateY(0);
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            margin: 5px 0 0;
            padding: 0;

            &--hidden {
                max-height: 0;
                opacity: 0;
                transform: translateY(-10px);
                pointer-events: none;
            }

            &>li {
                display: block;
                width: 100%;
                padding: .25rem 1rem;
                clear: both;
                font-weight: 400;
                color: #212529;
                text-align: inherit;
                text-decoration: none;
                background-color: transparent;
                border: 0;
                cursor: pointer;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

blockquote {
    text-indent: 25px;
    text-align: justify;
    padding: 2%;
    width: fit-content;
    background:
        linear-gradient(to right, var(--emk-brand-color) 4px, transparent 4px) 0 100%,
        linear-gradient(to left, var(--emk-brand-color) 4px, transparent 4px) 100% 0,
        linear-gradient(to bottom, var(--emk-brand-color) 4px, transparent 4px) 100% 0,
        linear-gradient(to top, var(--emk-brand-color) 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}