.bug {
    &-modal__content {
        display: flex;
        flex-direction: column;

        &__loader {
            &>.loader {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
}