@use '/src/assets/styles/mixins' as *;

.calendar {
    &__button__wrapper {
        max-width: fit-content;
        margin: 10px auto 20px auto;
    }

    &__custom-marker {
        position: absolute;
        top: 0;
        right: 50%;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        transform: translateX(50%);

        &--line {
            height: 2px;
            width: 100%;
            border-radius: 0;
        }

        &__wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper {
        padding: 0;
    }

    &>.primary-button {
        margin: auto;
    }

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__meanings {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: baseline;
        margin-right: auto;
    }

    &__inner {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__title {
        padding: 5%;
        text-align: center;
        width: 100%;
        display: block;
        background: white;
        border: 1px solid #f5f1f1;
    }

    &__item {
        transition: 0.2s;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 20px;

        &_day {
            color: #90A0B7;
        }

        &_active {
            background-color: #f5821f;
            color: #fafafa;
            cursor: pointer;
            border-radius: 10px;
            position: relative;

            &:hover {
                background-color: #f5831f77;
                cursor: pointer;
                border-radius: 10px;
            }
        }
    }

    // Отдельная страница календаря
    &-year {
        display: grid;
        gap: 20px;
        padding-bottom: 20px;

        &__item {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;

            &.past {
                opacity: 0.6;
                color: #999;

                .calendarYear__event-btn {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }

            &__wrapper:empty {
                display: none;
            }
        }

        &__title {
            padding: 15px 20px;
            background-color: #f0f0f0ac;
            color: black;
            font-weight: 600;
            border-bottom: 1px solid #F5821F;
        }

        &__content {
            display: block;
        }

        &__event {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;


            &__name {
                flex-grow: 1;

                &_empty {
                    padding: 10px;
                    text-align: center;
                }
            }

            &>span {
                font-size: 16px;
                text-align: center;
            }

            &-btn {
                padding: 8px 16px;
                background-color: white;
                // border: #F5821F 1px solid;
                border-radius: 4px;
                cursor: pointer;
                transition: 0.3s ease;
                min-width: 133px;

                &_archive {
                    border: 2px #1fa5ff solid;
                }

                &:hover {
                    background-color: rgb(0, 179, 140) !important;
                }

                &:disabled {
                    background: #f0f0f0 !important;
                    color: #888 !important;

                    &:hover {
                        background: #f0f0f0 !important;
                        color: #888 !important;
                    }
                }

                &_past {
                    border-right: none !important;
                }
            }

            &-private {
                position: relative;

                &::after {
                    content: "Частное";
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    font-size: 12px;
                    color: #6b767a;
                    font-weight: bold;
                }
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                border-top: 1px solid #8080804a;

                &>.square-mark {
                    display: none;
                }
            }
        }

        &_past {
            text-align: center;
            padding: 8px 16px;
            min-width: 133px;
            cursor: initial;
        }

        &__nav {
            &-btn {
                padding: 8px 16px;
                background-color: white;
                border: #F5821F 2px solid;
                border-radius: 4px;
                cursor: pointer;
                transition: 0.3s;

                &_active {
                    opacity: 1;
                    border: 2px #1fa5ff solid;
                }

                &:hover {
                    opacity: 1;
                    color: #a5a5a5;
                    border: #a5a5a5 solid 2px;
                }
            }

            &-select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 5px 10px;
                margin-right: 10px;
                cursor: pointer;
                font-size: 14px;

                &:hover {
                    background-color: #f0f0f0;
                }
            }

            &-group {
                padding-bottom: 20px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__square-mark {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            border-radius: 100%;
        }

        &__title {
            &--target {
                background-color: rgba(0, 123, 255, 0.1);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-left: 4px solid #007bff;
                transition: all 0.3s ease;
            }
        }

        &__event {
            border-bottom: 1px solid rgba(146, 140, 140, 0.237);
            min-height: 69px;
            transition: 0.2s;

            &--chosen {
                background: rgba(from var(--event-color) r g b / 0.4);
                color: black;
            }

            &__dates {
                display: flex;
                flex-direction: column;
                gap: 2px;
                align-items: center;
            }

            &__date {
                max-width: 175px;
                min-width: 175px;

                @include sm {
                    text-align: center;
                }
            }
        }

        &__event-btn {
            text-align: center;
            border: 1px solid var(--event-color);

            &:hover {
                background: var(--event-color) !important;
            }

            &--no-border {
                border: none !important;
                background: none !important;
            }

            &--ovk {
                border: 1px solid #00b38c;

                &:hover {
                    background: #00b38c;
                }
            }

            &--dpm {
                border: 1px solid #f36509;

                &:hover {
                    background: #f36509;
                }
            }
        }
    }
}