.contest {
    &__page {
        &__loader {
            margin: auto;
            width: 120px !important;
            height: 120px !important;

            &__wrapper {
                display: flex;
                min-height: 50vh;
            }

            &>.loader {
                width: 64px;
                height: 64px;
            }
        }
    }
}