.idea {

    &__table {
        transition: 0.2ms;
        cursor: pointer;

        &:hover {
            >td {
                color: var(--emk-brand-color);
            }
        }
    }

    &-new {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .invalid-feedback {
                display: block;
                width: 100%;
                font-size: 0.875em;
                color: #dc3545;
                min-height: 21px;

                &__wrapper {
                    min-height: 21px;
                }
            }

            &-floating {
                &>.form-control:focus {
                    padding: 1rem 0.75rem !important;
                }

                &>label {
                    opacity: 0.6;
                }
            }
        }
    }
}