@use '/src/assets/styles/mixins' as *;

.modal {
    &--fullscreen {
        z-index: 700;
        background: white;
    }

    &--gazette {
        margin-top: 90px;
    }

    &__video {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        &__frame {
            width: 100%;
            height: 100%;
            border: 0;
            max-width: 1000px;
            max-height: 600px;
        }
    }

    &__content {
        &--fullscreen {
            width: 99%;
        }

        &--pdf {
            width: calc(100% - 20px);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 35%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
        padding: 0;
        margin: 0;

        &__close-button {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 31;
            transition: 0.2s all;
            background: #272727;
            padding: 5px;

            & svg {
                color: #6d6d6d !important;

                &:hover {
                    color: var(--emk-brand-color) !important;
                }
            }
        }

        &--zoom {
            display: flex;
            background: rgba(0, 0, 0, 0.7);
            cursor: default;
            z-index: 50 !important;
        }
    }

    &__wrapper {
        background: white;
        border-radius: 8px;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow-y: hidden;

        &--fixedHeight {
            max-height: 720px;
            height: 100%;
            max-width: 70%;
            overflow-y: auto;
        }

        &--review {
            width: 50%;
        }

        &--toast {
            width: 20%;
            min-width: fit-content;
        }

        &--zoom {
            height: 100%;
            background: rgb(0 0 0 / 57%);
        }
    }

    &-header {
        padding: 5px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;

        &--review,
        &--toast {
            justify-content: flex-end;
        }
    }

    &__close-btn {
        box-sizing: content-box;
        padding: 0.25em 0.25em;
        color: #000;
        border: 0;
        border-radius: 0.25rem;
        opacity: 0.5;

        & svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &-body {
        &>object {
            width: 100%;
            height: 100%;
        }

        overflow-y: hidden !important;
    }

    &__body {
        &--review {
            padding: 20px;
        }

        &--zoom {
            height: 100%;
            margin: auto;
            width: 100%;

            &:not(:has(.slider-wrapper)) {
                display: flex;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;

        &--review {
            grid-template-columns: 1fr;
            gap: 0;
        }

        @include md {
            &--fixedHeight {
                grid-template-columns: 1fr;
            }
        }

        @include sm {
            grid-template-columns: 1fr;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    &__right {
        padding: 1rem;
    }

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        border-radius: 4px;

        &--staff {
            aspect-ratio: 4/4;
            max-height: 500px;
        }

        &--zoom {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__name {
        font-weight: bold;
        margin: 0.2rem 0;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        color: #303030;
        text-decoration: none;
    }

    &__position,
    &__department {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666;
    }

    &__footer {
        padding: 10px;
    }

    &__input {
        &__text__input {
            width: 100%;
            min-height: 175px;
            padding: 10px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #ef7f1b;
        }

        &__score {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;

            &>label,
            input {
                cursor: pointer;
            }

            >label:not(:first-child) {
                margin-top: 3px;
            }

            >label>span {
                margin-right: 5px;
            }
        }
    }

    &__text {
        padding: 70px;

        &__content {
            background: white;
            border-radius: 25px;
            padding: 20px !important;
            max-width: 1000px;
            margin: auto;
            overflow-y: auto;
            overflow-x: hidden;

            &__detail {
                padding: 0 10px;

                &--link {
                    >a {
                        color: blue;
                        transition: 0.2s;
                        text-decoration: underline;

                        &:hover {
                            color: black;
                            text-decoration: underline;

                        }
                    }
                }
            }

            &--points-modal {
                padding: 0;
                width: 50%;

                @include sm {
                    width: 100%;
                }
            }

            &--user-points {
                padding: 0;
            }

            &__user-photo {
                max-width: 250px;

                @include sm {
                    width: 150px;
                    max-width: 100%;
                }
            }
        }
    }
}