@use '/src/assets/styles/mixins' as *;

.personal {
    &__user {
        &__photo {
            margin-bottom: 20px;

            & img {
                max-width: 100%;
                width: 100%;
                height: auto;
                object-fit: cover;
                max-height: 80dvh;
                min-height: fit-content;
                cursor: pointer;
            }
        }

        &__about {
            margin-bottom: 20px;

            & h3 {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                color: #303030;
                margin: 0;
            }

            & p {
                margin: 0;
                font-size: 12px;
                line-height: 16px;
                color: #666666;
            }
        }

        &__mess {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &__link {
                font-size: 14px;
                color: #303030;
                display: flex;
                align-items: center;
                min-height: 40px;
                padding: 5px 34px;
                border: 1px solid #ef7f1b;
                border-radius: 20px;
                text-decoration: none;
                font-weight: 600;
                transition: 0.2s;
                background: white;
                margin: auto;
                text-align: center;

                &:hover {
                    background: #ef7f1b;
                    color: #ffffff;
                }
            }
        }

        &__top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            margin-bottom: 10px;
            align-items: center;

            @include sm {
                margin-top: 20px;
            }

            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.87);
                margin: 0;
            }
        }

        &__property {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            gap: 50px;

            &__items {
                max-width: 300px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                & h3 {
                    font-size: 14px;
                    color: #656565;
                    margin: 0;
                    font-weight: bold;
                }

                & span {
                    margin-top: 5px;
                    font-size: 12px;
                    line-height: 16px;
                    color: #666666;
                    display: block;
                }
            }
        }

        &__social {
            &__list {
                display: flex;
                width: 100%;
                align-items: center;
            }

            &__item {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color: #000000;
                margin-right: 30px;

                &:hover {
                    background-color: #F5821F;

                }
            }

        }

        &__section {
            margin-top: 20px;
        }
    }
}