.pull-to-refresh {
    position: relative;
    min-height: 100vh;

    &__indicator {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s ease-out;

        &>.loader {
            border: 4px solid #00000038;
            border-top: 4px solid var(--emk-brand-color);

        }
    }


    &--refreshing {
        .pull-to-refresh__indicator {
            transform: translateX(-50%) translateY(20px);
        }
    }
}