@use '/src/assets/styles/mixins' as *;

.vcard {
    background-color: white;
    border-radius: 15px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 100%;
    max-width: 1200px;
    min-height: 727px;
    border: 1px solid #8080804d;

    @include xxl {
        max-height: 727px;
    }

    @include sm {
        flex-direction: column;
        max-height: auto;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrapper {
        max-width: 1115px;
        width: 100%;
        margin: 20px 0;
    }

    &__photo {
        flex: 0 0 300px;
        min-width: 200px;
        min-height: 200px;
        overflow: hidden;

        @include md {
            min-height: fit-content;
            border-radius: 15px;
        }

        &>img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 15px 0 0 15px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__header {
        padding: 15px;
        min-width: 100%;
        display: flex;
        flex-direction: column;

        &>.skeleton-flex__gallery-date {
            margin: 0px;
        }
    }

    &__employee {
        &__info {
            margin-left: 15px;
            flex: 1;
            gap: 10px;
            align-content: center;
            min-height: 246px;

            &__item {
                color: #666;
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 14px;
                margin-bottom: 10px;
                width: 300px;
                align-content: flex-start;
                justify-content: flex-start;
                align-items: flex-start;

                &>div:not(:first-child) {
                    color: black;
                    font-size: 16px;
                }
            }

            &--skeleton {
                display: grid;
                justify-items: start;
                align-items: start;
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }
        }
    }

    &__button-wrapper {
        margin: auto;

        &>.btn {
            width: max-content;
            margin: auto;
            display: inline-block;
            border: 1px solid #ef7d1a;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 15px;
            transition: 0.2s ease-in-out;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            background-color: oklch(0.96 0 0);
            cursor: pointer;

            &>.loader {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: oklch(0.92 0 0);
            }
        }
    }

    &__company__info {
        border-top: 1px solid #e0e0e0;
        padding-top: 15px;
        margin-top: 15px;
        padding-bottom: 15px;
        margin-left: 15px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        &-item {
            margin-bottom: 10px;

            &>a {
                color: #ef7d1a;
                text-decoration: none;
            }
        }
    }

    &__title {
        margin-bottom: 13px;
    }
}

.skeleton-flex__gallery-date--long {
    width: 250px;
}