.dark-mode {

    /* Общее */
    .header,
    .sidebar-lk,
    .search-wrapper,
    .search-footer,
    .idea__table__tr>td,
    .idea__table th,
    .modal__text__content,
    .idea-new__form-container,
    .admin-panel__content,
    .admin-panel__nav-link:hover,
    .admin-panel__nav-link--active,
    .tags-modal__tag-item,
    .search-result-block-info,
    .task__block,
    .vertical-card__item__subtitle__wrapper,
    .neuroChat__input-textarea__wrapper,
    .neuroChat__add-file,
    .admin-block__page__wrapper,
    .admin-panel__header,
    .admin-block-inner__card,
    .admin-element-inner__wrapper,
    .refer-page,
    .admin-block-inner__toolbar {
        background: #1b1b1b;
    }

    .search-result-block-info {
        background: #1b1b1b;
    }

    .modal__wrapper,
    main,
    .birthday__slide__info,
    .neuroChat-content__wrapper,
    .tags-modal__remove-btn {
        background: rgb(19, 19, 19);
    }

    .navbar,
    .sidebar-lk__body__points,
    .navbar-nav,
    .nav-link,
    .header__user__block,
    .header__user__block__name,
    .idea__table th,
    .idea__table__tr>td,
    .personal__user__top,
    .personal__user__property__items h3,
    .search-footer-block__title,
    svg,
    h3,
    h2,
    .tags__tag,
    span,
    a,
    .book-nav__sidebar__burger,
    .homeview__item__link,
    .visibility-editor__user-fio,
    .homeview__grid__card__title,
    .homeview__grid__card__group-buttons__reaction-buttons,
    .flexGallery__card__title--text-date>span:first-child,
    p {
        color: #b2b0b0;
    }

    h4,
    h5,
    h6,
    .page__title,
    .breadcrumb-item+.breadcrumb-item::before,
    li {
        color: #d3d3d3;
    }

    .search-footer-block__title,
    .idea__table th,
    .idea__table__tr>td,
    .personal__user__top,
    .personal__user__property__items h3 {
        border-color: gray;
        color: #b2b0b0;
    }

    .search-footer-block__title {
        border-color: #434343;

        &:hover {
            color: #d2d2d2;
        }
    }

    .idea__table__tr:hover>td {
        color: var(--emk-brand-color);
    }

    .homeview__grid__card__group-title {
        color: var(--emk-brand-color);

        &:hover {
            color: #d3d3d3 !important;
        }
    }

    /* Кнопки */
    .primary-button,
    button,
    .calendar-year__event-btn,
    .tags-modal__remove-btn {
        color: #d2d2d2;
        background: rgb(32, 32, 32);

        &:hover {
            background: rgb(57, 57, 57);
            color: #d2d2d2;
        }
    }

    /* Скелетоны */
    .skeleton-grid__gallery-image,
    .skeleton-flex__gallery-image {
        background: #232323;
        background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #212121 75%) !important;
    }

    .skeleton-grid__gallery-title,
    .skeleton-grid__gallery-title-text,
    .skeleton-grid__gallery-date,
    .skeleton-flex__gallery-title,
    .skeleton-flex__gallery-title-text,
    .skeleton-flex__gallery-date,
    .skeleton-grid__gallery-reaction,
    .skeleton-flex__gallery-reaction {
        background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #212121 75%) !important;
    }

    /* Модалки */
    .modal__header,
    .modal-body {
        background: rgb(81, 81, 81);
    }

    .modal__header {
        border-color: #000000;
    }

    .modal--fullscreen {
        background: rgb(81, 81, 81);
    }

    .visibility-editor__area-user {
        background: none;

        &:hover {
            background: rgb(81, 81, 81);
        }
    }

    /* Памятка */
    .memo__menu-dot__item {
        &:nth-child(2n) {
            background: #303030;
        }

        &:hover {
            background: #444444;
        }
    }

    /* Дни рождения */
    .birthday__slide__info {
        border: 1px solid #1b1b1b;
    }

    .birthday__chain-nav {
        box-shadow: inset 0px -1px 0px #4c4c4c;
    }

    /* чат жпт */
    .neuroChat-sidebar__model-select select {
        background: #1b1b1b;
    }

    /* Календарь */
    .calendar-year__title {
        background: #1b1b1b;

        &--target {
            background-color: rgba(0, 123, 255, 0.1);
        }
    }

    .calendar-year__item {
        border-color: #2f2f2f;
    }

    /* Инпутс */
    input,
    textarea,
    select,
    .neuroChat__add-file,
    .neuroChat__message,
    .search-input,
    .ql-editor {
        background-color: #272727 !important;
        color: white;
        border-color: #434343;
    }

    .postcard__form-wrapper {
        background-color: #2e2e2e;
    }

    .neuroChat__message {

        &::after,
        &::before {
            border-right-color: #272727;
        }
    }

    /* Dropdown */
    .dropdown__item--active:hover {
        background: rgb(53, 53, 53);
    }

    strong {
        color: white;
    }

    /* Админка */
    .admin-panel__sidebar,
    .admin-block-inner__main {
        border-color: #393939;
        background-color: rgb(47, 47, 47);
    }

    .refer-page__jobs-link {
        background-color: rgb(47, 47, 47);
    }

    .admin-block-inner__card-status {
        color: black;
    }

    .admin-element-inner__action-button--cancel {
        background: #212121 !important;
    }

    /* Галереи */
    .merch-store-item__images__flex-gallery__card {
        background-color: #ffffff26 !important;
    }

    .full-width-slider--white-background>.swiper>.swiper-wrapper>.swiper-slide>.full-width-slider__slide__img {
        background-color: #f5f5f500 !important;
    }

    .hover-gallery__image {
        background: #3a3a3a;
    }

    /* скролл */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--emk-brand-color) #212121;
    }

    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background: #4a5568;
        border-radius: 5px;
        border: 2px solid #2d3748;

        &:hover {
            background: #718096;
        }

        &:active {
            background: #63b3ed;
        }
    }

    *::-webkit-scrollbar-corner {
        background: #2d3748;
    }

    /*  списки */
    ul {
        background: #1b1b1b;
    }

    .memo__item__content ul {
        background: none;
    }
}