.dark-mode {
    .header {
        background: #1b1b1b;

        ul {
            background: #1b1b1b;
        }
    }

    .navbar {
        color: #b2b0b0;

        &-nav {
            color: #b2b0b0;
        }
    }

    .nav-link {
        color: #b2b0b0;
    }

    .header__user__block {
        color: #b2b0b0;
    }

    .header__user__block__name {
        color: #b2b0b0;
    }

    main,
    .birthday__slide__info,
    .neuroChat-content__wrapper {
        background: rgb(19, 19, 19);
    }

    .primary-button,
    button,
    .calendar-year__event-btn {
        color: #d2d2d2;
        background: rgb(32, 32, 32);

        &:hover {
            background: rgb(57, 57, 57);
            color: #d2d2d2;
        }
    }

    .homeview__grid__card__title {
        color: #d3d3d3;
    }

    .homeview__grid__card__group-title {
        color: var(--emk-brand-color);

        &:hover {
            color: #d3d3d3 !important;
        }
    }

    .homeview__grid__card__group-buttons__reaction-buttons {
        color: #e0dede;
    }

    .task__block {
        background: #1b1b1b;
    }

    svg,
    h3,
    h2,
    .tags__tag,
    span,
    a,
    .book-nav__sidebar__burger,
    div {
        color: #e0dede;
    }

    h4,
    .page__title,
    .breadcrumb-item+.breadcrumb-item::before,
    li {
        color: #d3d3d3;
    }

    p {
        color: #d3d3d3;
    }

    .skeleton {
        &-grid__gallery {
            &-image {
                background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #101010 75%) !important;
            }

            &-title {
                background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #101010 75%) !important;
            }

            &-reaction {
                background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #101010 75%) !important;
            }
        }
    }

    .modal__header {
        border-color: #000000;
    }

    .modal__wrapper {
        background: #131313;
    }

    .memo {
        &__item__content {
            ul {
                background: none;
            }
        }

        &__menu-dot {
            &__item:hover {
                background: #444444;
            }

            &:nth-child(2n) {
                background: #303030;
            }
        }
    }

    .birthday {
        &__slide__info {
            border: 1px solid #1b1b1b;
        }

        &__chain-nav {
            box-shadow: inset 0px -1px 0px #4c4c4c;
        }
    }

    .vertical-card__item__subtitle__wrapper,
    .neuroChat__input-textarea__wrapper,
    .neuroChat__add-file {
        background: #1b1b1b;
    }

    .neuroChat-sidebar__model-select {
        select {
            background: #1b1b1b;
        }
    }

    .calendar-year {
        &__title {
            background: #1b1b1b;

            &--target {
                background-color: rgba(0, 123, 255, 0.1);
            }

        }

        &__item {
            border-color: #2f2f2f;
        }
    }

    .postcard__form-wrapper {
        background-color: #2e2e2e;
    }

    input,
    textarea,
    select,
    .neuroChat__add-file,
    .neuroChat__message {
        background-color: #272727;
        color: white;
        border-color: #434343;

    }


    .neuroChat__message::after,
    .neuroChat__message::before {
        border-right-color: #272727;

    }

}