@use '/src/assets/styles/mixins' as *;

.dark-mode {
    .navbar {
        --bs-navbar-color: #ff0000;
        color: #ff0000;
        /* На всякий случай */
    }

    // фоновые цвета
    .header,
    .sidebar-lk,
    .search-wrapper,
    .search-footer,
    .idea__table__tr>td,
    .idea__table th,
    .modal__text__content,
    .idea-new__form-container,
    .admin-panel__content,
    .admin-panel__nav-link:hover,
    .admin-panel__nav-link--active,
    .tags-modal__tag-item,
    .file-uploader__drop-zone:hover,
    .search-result-block-info,
    .task__block,
    .vertical-card__item__subtitle__wrapper,
    .neuroChat__input-textarea__wrapper,
    .neuroChat__add-file,
    .calendar-year__title,
    .file-uploader__preview-item,
    .portal__auth__content,
    .one-c-memo-card {
        background: #1b1b1b;

        ul {
            background: #1b1b1b;
        }
    }

    @include sm {
        .portal__auth__content {
            background: none;
        }

        .portal__auth__form__auth {
            background: #1b1b1b96;
        }
    }

    main,
    .birthday__slide__info,
    .neuroChat-content__wrapper,
    .tags-modal__remove-btn {
        background: rgb(19, 19, 19);
    }

    .disabled {
        background: #383838;
    }

    .primary-button,
    button,
    .calendar-year__event-btn,
    .tags-modal__remove-btn,
    .book-nav__li,
    .dropdown__item {
        color: #d2d2d2;
        background: rgb(32, 32, 32);

        &:hover {
            background: rgb(57, 57, 57);
            color: #d2d2d2;
        }
    }

    .navbar-toggler {
        background-color: #3c3c3c;
    }


    .modal__header,
    .modal-body,
    .modal--fullscreen {
        background: rgb(81, 81, 81);
    }

    .modal__header {
        border-color: #000000;
    }


    .modal__wrapper {
        background: #131313;
    }

    .postcard__form-wrapper {
        background-color: #2e2e2e;
    }

    .refer-page,
    .admin-block-inner__toolbar {
        background-color: #212121;

        &__jobs-link {
            background-color: rgb(47, 47, 47);
        }
    }

    .admin-block__page__wrapper,
    .admin-panel__header,
    .admin-block-inner__card,
    .admin-element-inner__wrapper {
        background-color: #1b1b1b;
        border-color: #393939;
    }

    .admin-panel__sidebar,
    .admin-block-inner__main {
        border-color: #393939;
        background-color: rgb(47, 47, 47);
    }

    .admin-element-inner__action-button--cancel {
        background: #212121 !important;
    }

    .merch-store-item__images__flex-gallery__card {
        background-color: #ffffff26 !important;
    }

    .full-width-slider--white-background>.swiper>.swiper-wrapper>.swiper-slide>.full-width-slider__slide__img {
        background-color: #616161 !important;
    }

    .hover-gallery__image {
        background: #3a3a3a;
    }

    // текст
    .idea__table th,
    .idea__table__tr>td,
    .personal__user__top,
    .personal__user__property__items h3,
    .search-footer-block__title,
    .navbar,
    .sidebar-lk__body__points,
    .nav-link,
    .header__user__block,
    .header__user__block__name,
    .staff__filter__link--active,
    .modal__description,
    .news__detail__discr,
    label {
        color: #b2b0b0;
    }

    .navbar,
    .sidebar-lk__body__points {
        &-nav {
            color: #b2b0b0;
        }
    }

    .search-footer-block__title {
        border-color: #434343;

        &:hover {
            color: #d2d2d2;
        }
    }

    .homeview__grid__card__title,
    .blog,
    .blog__content {
        color: #d3d3d3;
    }

    // ============================================
    // TEXT COLORS - #d3d3d3
    // ============================================
    h4,
    h5,
    h6,
    .page__title,
    .breadcrumb-item+.breadcrumb-item::before,
    li,
    p {
        color: #d3d3d3;
    }

    b {
        color: white;
    }

    svg,
    h3,
    h2,
    .tags__tag,
    span,
    a,
    .book-nav__sidebar__burger,
    .homeview__item__link,
    .visibility-editor__user-fio,
    .homeview__grid__card__group-buttons__reaction-buttons {
        color: #e0dede;
    }

    .homeview__grid__card__group-title {
        color: var(--emk-brand-color);

        &:hover {
            color: #d3d3d3 !important;
        }
    }

    .flexGallery__card__title--text-date>span:first-child {
        color: rgb(147, 146, 146);
    }

    strong {
        color: white;
    }

    .admin-block-inner__card-status {
        color: black;
    }

    // таблицы
    .idea__table__tr:hover {
        &>td {
            color: var(--emk-brand-color);
        }
    }

    .birthday {
        &__slide__info {
            border: 1px solid #1b1b1b;
        }

        &__chain-nav {
            box-shadow: inset 0px -1px 0px #4c4c4c;
        }
    }

    .calendar-year {
        &__title {
            &--target {
                background-color: rgba(0, 123, 255, 0.1);
            }
        }

        &__item {
            border-color: #2f2f2f;
        }
    }

    .conducted-training__list__item:nth-child(2n) {
        background: #252525;
    }

    // форма
    input,
    textarea,
    select,
    .neuroChat__add-file,
    .neuroChat__message,
    .search-input,
    .ql-editor,
    .neuroChat__file-item,
    .one-c-memo-sidebar,
    .memo__menu-dot {
        background-color: #272727;
        color: rgb(196, 195, 195) !important;
        border-color: #434343;
    }

    & {
        --p-editor-content-background: #272727;
    }

    .one-c-memo-nav-item:hover,
    .one-c-memo-nav-item--active {
        background-color: #313131;
    }

    .one-c-memo-card__text,
    .one-c-memo-card__text>p,
    .one-c-memo-nav-item {
        color: rgb(167, 167, 167);
    }

    .neuroChat__message::after,
    .neuroChat__message::before {
        border-right-color: #272727;
    }

    .neuroChat-sidebar__model-select {
        select {
            background: #1b1b1b;
        }
    }

    .visibility-editor__area-user {
        background: none;

        &:hover {
            background: rgb(81, 81, 81);
        }
    }

    .dropdown__item--active {
        &:hover {
            background: rgb(53, 53, 53);
        }
    }

    .memo {
        &__item__content {
            ul {
                background: none;
            }
        }

        &__menu-dot {
            &__item:hover {
                background: #444444;
            }

            &:nth-child(2n) {
                background: #303030;
            }
        }
    }

    .idea-new__error-message,
    .idea-new__input:focus {
        background: #414141;
    }

    // лоадеры
    .skeleton {

        &-grid__gallery,
        &-flex__gallery {
            &-image {
                background: #232323;
                background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #212121 75%) !important;
            }

            &-title,
            &-title-text,
            &-date {
                background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #212121 75%) !important;
            }

            &-reaction {
                background-image: linear-gradient(90deg, #212121 25%, #252525 50%, #212121 75%) !important;
            }
        }
    }

    // скроллбар
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--emk-brand-color) #212121;
    }

    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background: #4a5568;
        border-radius: 5px;
        border: 2px solid #2d3748;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #718096;
    }

    *::-webkit-scrollbar-thumb:active {
        background: #63b3ed;
    }

    *::-webkit-scrollbar-corner {
        background: #2d3748;
    }
}