.header {
    background: linear-gradient(180deg, #ececec 38.13%, #fcfcfc 66.26%, #fbfbfb 76.34%, #e8e8e8 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 40;

    &__logo {
        width: 90px;
        background: url('@/assets/imgs/emkLogo.webp') no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        border-radius: 15px;
        height: 60px;
        position: relative;
    }

    &__user {
        &__block__title {
            display: flex;
            flex-direction: column;
            margin: 0 0 0 8px;
            position: relative;
        }

        &__block__img {
            box-sizing: border-box;
            border-radius: 16px;
            width: 32px;
            height: 32px;
        }

        &__button {
            box-sizing: border-box;
            align-items: center;
            display: flex;
            position: relative;
            border: none;
            padding: 0;
            margin: 0;
            background: transparent;
            gap: 5px;
        }

        &__block__name {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #303030;
        }
    }

    &--dark-theme {
        .navbar {
            background-color: #313131 !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        .nav-link {
            color: #FFFFFF;

            &:hover {
                color: var(--emk-brand-color);
            }

            &--main-points {
                color: rgba(255, 255, 255, 0.87);
            }
        }

        .dropdown-menu {
            background: #252525;
            border: 1px solid rgba(255, 255, 255, 0.1);

            .dropdown__item {
                color: #FFFFFF;

                &:hover {
                    background: #303030;
                    color: var(--emk-brand-color);
                }

                &--active {
                    background: #303030;
                    color: var(--emk-brand-color);
                }
            }
        }

        .header__user {
            &__block {
                &__title {
                    color: #FFFFFF;
                }

                &__name {
                    color: rgba(255, 255, 255, 0.87);
                }
            }
        }

        .navbar-toggler {
            border-color: rgba(255, 255, 255, 0.1);
            color: #FFFFFF;
        }

        hr {
            border-color: rgba(255, 255, 255, 0.1);
        }

    }
}

.nav-link--main-points::after {
    color: var(--emk-brand-color);
    vertical-align: 0.23em;
    margin-left: 7px;
}

.navbar-nav {
    column-gap: 15px;
    color: rgba(0, 0, 0, .55);
    font-size: 0.9rem;

    &__search-icon {
        width: 35px;
        cursor: pointer;
        transition: 0.2s all;

        &:hover {
            color: var(--emk-brand-color);
        }
    }
}

.dropdown {
    cursor: pointer;

    &--opened {
        >.dropdown-menu {
            display: block;
        }
    }

    &__item {
        display: block;
        width: 100%;
        padding: .25rem 1rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:hover {
            color: var(--emk-brand-color);
        }

        &--active {
            color: #fff;
            text-decoration: none;
            background-color: var(--emk-brand-color);

            &:hover {
                background: #fff !important;

            }
        }
    }
}