@use '/src/assets/styles/mixins' as *;

.swiper {
    max-width: 100%;
    height: auto;

    &-slide {
        height: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // aspect-ratio: 16/9;
        background: #b1b1b137;
        border-radius: 4px;

        &:not(.homeview__grid__card__bg-image--plug) {
            border: 1px solid rgba(128, 128, 128, 0.333);
        }

        iframe {
            height: 100%;
            // border-radius: 15px;
        }

        img {
            object-fit: contain;
            width: 100%;
            max-height: 102%;
            height: 100%;
            user-select: none;
        }
    }

    &-navigation {
        &__buttons {
            &-group__button {
                color: #FFF;
                display: flex;
                cursor: pointer;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 42px;
                background: #ef7f1b;
                outline: none;
                border: none;
                margin-top: 10px;

                position: absolute;
                z-index: 2;

                &--prev {
                    left: 0;
                    top: 40%;
                    transform: translateY(-40%);
                }

                &--next {
                    right: 0;
                    top: 40%;
                    transform: translateY(-40%);
                }

                &--bottom {
                    top: 90%;
                    transform: none;
                    margin: 5px;
                }

                &>svg {
                    width: 18px;
                }
            }
        }
    }

    &-pagination {
        &-bullet {
            width: 15px;
            height: 15px;

            &-active {
                background: #ef7f1b !important;
            }
        }

        &__button--disabled {
            opacity: 0.5;
        }
    }
}