@use '@/assets/styles/mixins/_mixins.scss' as *;

.swiper {
    max-width: 100%;
    height: auto;

    &-slide {
        height: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        aspect-ratio: 16/9;
        background: #b1b1b137;
        border-radius: 4px;
        border: 1px solid rgba(128, 128, 128, 0.333);
        padding: 10px;

        iframe {
            height: 100%;
            border-radius: 15px;
        }

        img {
            object-fit: contain;
            width: 100%;
            max-height: 102%;
            height: 100%;
        }

        &--boxPhoto {
            aspect-ratio: 4/4;
            max-height: 600px;

            img {
                object-fit: cover;
            }
        }
    }

    &-navigation {
        &__buttons {
            &-group {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 15px;
                text-align: center;
                align-items: center;

                @include sm {
                    display: none;
                }

                &__button {
                    color: #FFF;
                    display: flex;
                    cursor: pointer;
                    border-radius: 100%;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    height: 42px;
                    background: #ef7f1b;
                    outline: none;
                    border: none;

                    &>svg {
                        width: 18px;
                    }
                }
            }
        }
    }

    &-pagination {
        &-bullet {
            width: 15px;
            height: 15px;

            &-active {
                background: #ef7f1b !important;
            }
        }

        &__button--disabled {
            opacity: 0.5;
        }
    }
}