.tagDateNavBar {
    &__tags__tag {
        font-size: 14px;
        color: #303030;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        padding: 0 17px;
        border: 1px solid #ef7f1b;
        border-radius: 18px;
        text-decoration: none;
        font-weight: 600;
        margin: 9px 9px;
        cursor: pointer;
        transition: var(--default-transition);

        &:hover {
            background: #ef7f1b;
            color: #ffffff;
        }
    }

    &__dropdown {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 15px;
        align-items: flex-start;

        &-toggle::after {
            color: #F5821F;
        }

        &__item {
            list-style: none;
        }

        &__menu {
            list-style: none;
            padding: 0;
            text-align: left;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: .25rem;
            position: absolute;
            width: 100%;
            transform: translate(0px, 40px);
            z-index: 20;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            gap: 2px;
            position: relative;
        }
    }
}