<li class="department">
    <div class="department-name">
        {{ child.name }} (ID: {{ child.id }})
        {% if child.users %}
            <span class="toggle" onclick="toggleUsers('dep-{{ child.id }}-users')">[+]</span>
        {% else %}
            <span class="no-users">Нет сотрудников</span>
        {% endif %}
        {% if child.children %}
            <span class="toggle" onclick="toggleChildren('dep-{{ child.id }}-children')">[+]</span>
        {% endif %}
    </div>
    
    {% if child.users %}
    <ul id="dep-{{ child.id }}-users" class="users-list" style="display:none">
        {% for user in child.users %}
        <li class="user">
            <span class="user-name">{{ user.user_fio }}</span>
            <span class="user-position">{{ user.user_position or "Должность не указана" }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if child.children %}
    <ul id="dep-{{ child.id }}-children" class="children" style="display:none">
        {% for grandchild in child.children %}
            {% with child=grandchild %}
                {% include "department_node.html" %}
            {% endwith %}
        {% endfor %}
    </ul>
    {% endif %}
</li>