.evacuation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 20px;
    border-top: 2px solid rgba(128, 128, 128, 0.351);

    &__swiper-wrapper {
        max-width: 50%;
    }

    &__floor {
        color: var(--emk-brand-color);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: gray;
        }

        &:not(:first-child) {
            margin-top: 5px;
        }
    }
}

.safety__section__discr {
    &>h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        margin: 10px 0px;
    }

    &>ul {
        list-style: none;
        margin: 0;
        padding: 14px 0 30px;

        &>li {
            font-size: 12px;
            line-height: 16px;
            color: #666666;
            min-height: 28px;
            // margin: 0 0 20px;
            position: relative;
            padding-left: 50px;
            // height: 28px;
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 15px;
            }

            &>a {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                text-decoration-line: underline;
                color: #f5821f;
                display: contents;
                border-bottom: 1px solid var(--emk-brand-color);
            }

            &::before {
                content: url('/src/assets/icons/layout/attention.png');
                display: block;
                position: absolute;
                left: 0;
                top: 2px;
                background: transparent;
            }
        }
    }
}