.staff__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: flex-start
    }

    &-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        aspect-ratio: 4 / 5;
        height: 100% !important;
        width: 100%;
        transition: var(--default-transition);
        border-radius: 4px;
    }

    &:hover {
        .staff__item-img {
            transform: scale(1.03);
        }
    }

    &-name,
    &-name a {
        margin-top: 8px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #303030;
        text-decoration: none;
    }

    &-position {
        margin-top: 3px;
    }

    &-position,
    &-organisation {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
    }
}

.staff__filter__link {
    &>a {
        color: #666;
    }

    & .router-link-active {
        color: black;
    }

}