.btn__link__metall {
    font-weight: 600;
    font-size: 14px;
    color: #f5821f;
    height: 35px;
    line-height: 35px;
    width: 160px;
    text-align: center;
    background: url(https://portal.emk.ru/local/templates/intranet/img/metall__icon.jpg) 50% no-repeat;
    display: inline-block;
    cursor: pointer;
}

.submit-button {
    cursor: pointer;
    width: fit-content;
    transition: var(--default-transition);
    background-color: white;
    font-size: 12px;
    color: #303030;
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0 34px;
    border: 1px solid #ef7f1b;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    margin: auto;

    &:hover {
        background-color: #ef7f1b;
        color: #ffffff;
    }
}

.primary-button--disabled {
    background: #d1d0d09a;
    cursor: not-allowed;

    &:hover {
        color: black;
        background: #d1d0d09a;
    }
}