.home__view__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* align-items: end; */
    column-gap: 30px;
    min-width: 100%;
}

.bg-image--needpos {
    background-position: center -77px;
}

@media (max-width: 576px) {

    .home__view__grid__card__bg-image--needpos {
        aspect-ratio: 4 / 4 !important;
    }
}

.home__view__grid__card__bg-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    aspect-ratio: 16/9;
    display: block;
}

.home__view__grid__card__link {
    cursor: pointer;

    &:hover {
        .home__view__grid__card__image {
            transform: scale(1.03);
        }
    }
}

.home__view__grid__card--soloblock:hover {
    .home__view__grid__card__image {
        transform: scale(1.03);
    }
}

.home__view__grid__card__group-title {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1;
    min-height: 2em;
    color: var(--emk-brand-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* height: 30px; */
    text-wrap-mode: nowrap;
    text-wrap-mode: wrap;
    padding-bottom: 5px;
}

.bg-image--outline {
    outline: 1px solid #ef7f1b;
    outline-offset: -1px;
}

.home__view__grid__card {
    padding: 0;
}

.home__view__grid__card__title {
    margin-top: 15px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    z-index: 5;
    margin-top: 150;
    text-decoration: none;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &--gallery {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.home__view__grid__cards__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.home__view__grid__card--fullRowBlock {
    grid-column: 1 / -1;
}

.home__view {
    &__grid {
        &__card {
            text-decoration: none;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            // padding: 10px;
            width: 100%;
            position: relative;
            margin-bottom: 10px;
            justify-content: space-between;
            min-width: 0;
            width: 100%;

            &:hover {
                .home__view__grid__card__group-buttons__more-button {
                    color: var(--emk-brand-color);
                }
            }

            &__banners {
                margin-top: 20px;
            }

            &__image {
                margin-top: 10px;
                transition: var(--default-transition);
                border-radius: 15px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                aspect-ratio: 16/9;
                width: 100%;
            }

            &__title {
                &--video {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            &__description {
                font-size: 15px;
                line-height: 170%;
                color: #0000009c;
                display: -webkit-box;
                overflow: hidden;
                flex-grow: 1;
            }

            &__group-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 20px;

                &__more-button {
                    // margin-top: 15px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(0, 0, 0, 0.54);
                    transition: var(--default-transition);
                }

                &__reaction-buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    font-size: 12px;

                    &--like {
                        display: flex;
                        flex-direction: row;
                        gap: 3px;
                        align-items: center;
                        cursor: pointer;

                        &_active {
                            >svg {
                                color: #ee7e1c;
                                ;
                            }
                        }

                        &>svg {
                            width: 20px;
                            height: 20px;
                        }

                    }

                    &--views {
                        display: flex;
                        flex-direction: row;
                        gap: 2px;
                        align-items: center;

                        &>svg {
                            width: 20px;
                            height: 20px;
                        }

                    }
                }
            }
        }
    }
}