.score-stars {
    mask-image: url(/src/assets/icons/trainingCenter/conductedTrainings/stars.svg);
    -webkit-mask-image: url(/src/assets/icons/trainingCenter/conductedTrainings/stars.svg);
    width: 92px;
    height: 16px;
    background-color: #c4c4c4;
    min-width: 92px;
    min-height: 16px;

    &__1 {
        background: linear-gradient(to right, #f5821f 0%, #f5821f 20%, #c4c4c4 20%, #c4c4c4 100%);
    }

    &__2 {
        background: linear-gradient(to right, #f5821f 0%, #f5821f 40%, #c4c4c4 40%, #c4c4c4 100%);
    }

    &__3 {
        background: linear-gradient(to right, #f5821f 0%, #f5821f 60%, #c4c4c4 60%, #c4c4c4 100%);
    }

    &__4 {
        background: linear-gradient(to right, #f5821f 0%, #f5821f 80%, #c4c4c4 80%, #c4c4c4 100%);
    }

    &__5 {
        background-color: #f5821f;
    }
}