.conducted-training {
    &__list {
        display: grid; // Use grid layout
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Responsive columns
        gap: 20px;

        &__item {

            &:nth-child(2n) {
                background: #fbfbfb;
            }

            &__date {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 152.34%;
                color: #666666;
                max-width: fit-content;

                &--content {
                    flex-grow: 1;
                    max-width: 500px;
                }
            }

            &__top {
                justify-content: flex-start;
                align-items: flex-start;
                position: relative;
                text-decoration: none;
                gap: 5px;
            }

            &__download {
                max-width: fit-content;
            }

            &__title {
                &__one {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #303030;
                    margin: 0 0 2px;
                }

                &__two {
                    font-size: 14px;
                    line-height: 16px;
                    color: #666666;
                    font-weight: normal;
                    margin: 5px 0 0 0;
                }
            }



            &__review {
                align-items: center;
                gap: 5px;

                &__wrapper {
                    width: 100%;
                    position: relative;
                }
            }

            &__author {

                & span,
                & a {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 146.48%;
                    color: #a5a5a5;
                    text-decoration: none;
                    display: flex;
                    -webkit-flex-direction: column;
                    -moz-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                }
            }
        }

        &__items {
            padding: 0 0 22px;
            border-top: 2px solid #e1e1e1;
        }


    }

    &__users {
        &__block {
            position: relative;
        }

        &__list {
            display: flex;
            padding: 0 0 20px;
            flex-wrap: nowrap;
            margin-left: 10px;
            justify-content: flex-end;



            & img {
                width: 32px;
                height: 32px;
                border-radius: 16px;
            }

            & span {
                width: 32px;
                height: 32px;
                background: #dbdbdb;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #525252;
                border-radius: 16px;
                margin-left: -10px;
            }

            &__full {
                background: #ffffff;
                border-radius: 4px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                padding: 8px 8px 28px;
                position: absolute;
                right: 10px;
                z-index: 60;
                width: 100%;
                max-width: 250px;

                & h5 {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    color: #3030 3;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    padding-bottom: 8px;
                    margin-bottom: 20px;
                    margin-top: 0;
                }

                & span {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    font-size: 12px;
                    line-height: 16px;
                    color: #303030;
                }

                & img {
                    border-radius: 16px;
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                    vertical-align: middle;
                }

                &__list {
                    max-height: 120px;
                    overflow: auto;

                    &__item__download {
                        margin-left: 5px;

                    }
                }

            }
        }
    }

    &__group-button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }
}

.conducted-training__list__item__title__undertitle-author {
    color: gray;
}



.conducted-training__list__item__download>a {
    &:hover {
        color: var(--emk-brand-color) !important;
    }
}

.trainings-table__navigation-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
}