@forward './classes/birthday';
@forward './classes/blog';
@forward './classes/blogs';
@forward './classes/book';
@forward './classes/breadcrumb';
@forward './classes/care';
@forward './classes/calendar';
@forward './classes/company';
@forward './classes/conducted-training';
@forward './classes/contest';
@forward './classes/cource';
@forward './classes/cls';
@forward './classes/experience';
@forward './classes/factory';
@forward './classes/gazette';
@forward './classes/homeview';
@forward './classes/idea';
@forward './classes/idea-new';
@forward './classes/interview';
@forward './classes/loader';
@forward './classes/memo';
@forward './classes/merchStore';
@forward './classes/modal';
@forward './classes/neuroChat';
@forward './classes/news';
@forward './classes/newWorkers';
@forward './classes/one-c-memo';
@forward './classes/p-toast';
@forward './classes/personal';
@forward './classes/point-info__table';
@forward './classes/portal__auth';
@forward './classes/postcard';
@forward './classes/refer-page';
@forward './classes/safety__section';
@forward './classes/score-stars';
@forward './classes/staff';
@forward './classes/tagDateNavBar';
@forward './classes/tags';
@forward './classes/training';
@forward './classes/vertical-card';
@forward './classes/vcard';