@font-face {
    font-family: "Onest";
    font-style: normal;
    src: local("Onest");
    font-display: swap;
}

$font-weights: (
    100: "Thin",
    200: "ExtraLight",
    300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold",
    700: "Bold",
    800: "ExtraBold",
    900: "Black"
);

@each $weight, $style in $font-weights {
    @font-face {
        font-family: "Onest";
        font-style: normal;
        font-weight: $weight;
        src: url("~/assets/fonts/Onest-#{$style}.ttf") format('truetype');
    }
}