:root {
    --font-family: "Onest", sans-serif;
    --emk-brand-color: #f5821f;
    --emk-brand-color-dark: #ff7700;

    --default-transition: 0.1s all;

    // progress-bar
    --p-progressbar-height: 5px;
    --p-progressbar-background: #e3e1e1;
    --p-progressbar-border-radius: 6px;
}