:root {
    --font-family: "Onest", sans-serif;
    --emk-brand-color: #f5821f;
    --emk-brand-color-dark: #ff7700;
    --emk-brand-color-clear: rgba(255, 119, 0, 0.63);

    --default-transition: 0.1s all;
}