.question {
    display: block;
    margin: 1em 0 0.4em;
    font-size: 1.2em;
    font-style: italic;
}

.question+.answer {
    padding-bottom: 15px;
}

.answer {
    display: block;
    margin: 0.4em 0;
    font-size: 1.05em;
}

.imageCaption {
    margin: 15px;
    max-width: 500px;
    text-align: center;
    font-style: italic;
}

.interview__img {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 133.33%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;

    &--blog {
        cursor: pointer;
    }
}