.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    transition: 0.4s;
    font-size: 14px;
    color: #303030;
    line-height: 40px;
    border: 1px solid #ef7f1b;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    background: white;
    text-align: center;
    max-width: 150px;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: #fd7e14;
        border-color: #ae7a4c;
    }
}