@use '@/assets/styles/mixins/_mixins.scss' as *;

.dp {
    &__input_icon {
        color: var(--emk-brand-color-dark);
    }

    &__today {
        border: 1px solid var(--emk-brand-color-dark);
    }

    &__active_date {
        background: var(--emk-brand-color-dark);
    }

    &__flex_display {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__inner_nav {
        color: var(--emk-brand-color-dark);
    }

    &__tooltip_text {
        display: flex;
        flex-direction: column;
        width: 250px !important;
        word-break: break-word;
        white-space: normal;
        overflow-wrap: break-word;
    }

    &--year-mode-picker {
        display: none;
    }

    &__icon {
        color: var(--emk-brand-color);
    }
}

.calendar {
    &__wrapper {
        margin: auto;
        text-align: center;
    }

    &__button__wrapper {
        max-width: fit-content;
        margin: 10px auto 20px auto;
    }

    &__custom-marker {
        position: absolute;
        top: 0;
        right: 0;
        height: 8px;
        width: 8px;
        border-radius: 100%;

        &--line {
            height: 2px;
            width: 100%;
            border-radius: 0;
        }

        &__wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.calendarYear {
    &__title {
        &--target {
            background-color: rgba(0, 123, 255, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-left: 4px solid #007bff;
            transition: all 0.3s ease;
        }
    }

    &__event {
        border-bottom: 1px solid rgba(146, 140, 140, 0.237);
        min-height: 69px;
        transition: 0.2s;

        &--chosen {
            background: rgba(from var(--event-color) r g b / 0.8);
            color: black;
        }

        &__dates {
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
        }

        &__date {
            max-width: 175px;
            min-width: 175px;

            @include sm {
                text-align: center;
            }
        }
    }

    &__event-btn {
        text-align: center;
        border: 1px solid var(--event-color);

        &:hover {
            background: var(--event-color) !important;
        }

        &--no-border {
            border: none;
        }

        &--ovk {
            border: 1px solid #00b38c;

            &:hover {
                background: #00b38c;
            }
        }

        &--dpm {
            border: 1px solid #f36509;

            &:hover {
                background: #f36509;
            }
        }
    }
}

.datepicker {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}