.company-values {
    color: #ffffff;
    background-color: #ee7e1c;
}

.company-values,
.company-mission {
    padding: 30px;
    margin: 30px;
    border: 5px solid #ee7e1c;
    width: 100%;
}

.plus-num {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--emk-brand-color);
    text-wrap: nowrap;
}

.plus-num,
.plus-desc {
    display: block;
}

.achievments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.emk-mission {
    display: flex;
    flex-direction: column;
    gap: 7px;
}